/* Links */
.link {
  color: var(--text-color-primary);
  /* opacity: 0.8; */
  cursor: pointer;
}
.link.link--active,
.link:hover {
  transition: 0.2s;
  opacity: 1;
  color: var(--primary);
  /* pointer-events: none; */
}

.link.link--active.link--secondary,
.link.link--secondary:hover {
  color: var(--secondary);
}

.link.link--active.link--tertiary,
.link.link--tertiary:hover {
  color: var(--tertiary);
}

.link:not(.link--active):hover {
  transition: 0.2s;
  opacity: 0.9;
}

.link--underline {
  border-bottom: 1px solid var(--primary);
}

.link.link--secondary.link--underline {
  border-bottom: 1px solid var(--secondary);
}

.link.link--tertiary.link--underline {
  border-bottom: 1px solid var(--tertiary);
}

.link.link--animated {
  /* color: var(--primary); */
  position: relative;
}

/* Left to right animation */
.link.link--animated::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s ease-in;
}
.link.link--animated:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* Centered animation */
.link.link--animated.link--animated--centerd::after {
  transform-origin: center;
}
.link.link--animated.link--animated--centerd:hover:after {
  transform-origin: center;
}

/* Right to left  */
.link.link--animated.link--animated--right::after {
  transform-origin: left;
}
.link.link--animated.link--animated--right:hover:after {
  transform-origin: right;
}

.link.link--animated.link--primary {
  color: var(--primary);
}

.link.link--animated.link--secondary {
  color: var(--secondary);
}

.link.link--animated.link--tertiary {
  color: var(--tertiary);
}
