/* Progress bar */
.progress-bar {
  height: 2px;
  background: var(--progress-bar-background);
  overflow: hidden;
}

.progress-bar .progress-bar__status {
  height: 2px;
  background: var(--progress-bar-status);
}
.progress-bar--infinite .progress-bar__status {
  animation: moveProgressBar 3s linear infinite;
}

@keyframes moveProgressBar {
  from {
    width: 40%;
    margin-left: -10%;
  }
  to {
    width: 30%;
    margin-left: 100%;
  }
}

.pulse-dot {
  border-radius: 50%;
  background: var(--primary);
  width: 1rem;
  height: 1rem;
  animation: pulse 0.8s linear infinite;
}

.pulse-dot.pulse-dot--medium {
  width: 3rem;
  height: 3rem;
}
.pulse-dot.pulse-dot--large {
  width: 5rem;
  height: 5rem;
}
@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
    transform: scale(1.5);
  }
}
/* Theme color based dots */
.pulse-dot.pulse-dot--secondary {
  background: var(--secondary);
}

.pulse-dot.pulse-dot--tertiary {
  background: var(--tertiary);
}

.loader {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: 5px solid var(--background);
  border-top: 5px solid var(--primary);
  border-left: 5px solid var(--primary);
  border-right: 5px solid var(--primary);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader.loader--secondary {
  border-top: 5px solid var(--secondary);
  border-left: 5px solid var(--secondary);
  border-right: 5px solid var(--secondary);
}

.loader.loader--tertiary {
  border-top: 5px solid var(--tertiary);
  border-left: 5px solid var(--tertiary);
  border-right: 5px solid var(--tertiary);
}

.loader.loader--medium {
  width: 4rem;
  height: 4rem;
}

.loader.loader--large {
  width: 6rem;
  height: 6rem;
}
